<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= heroes.forEach(heroe => {
            <h2></h2>
        }); %></h1>
        <p></p>
    </body>
</html>