<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title.forEach(heroe => {%></h1>
            <h2><%= Id: heroe.id})%></h2>
    </body>
</html>